<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="database_path" value=".\data\Callen.db" />
    <add key="image_path" value=".\images" />
  </appSettings>
</configuration>
